<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Login</title>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Авторизация</h2>
            <p>Введите свой логин и пароль</p>
            <form action="/auth/login" method="post">
                <div class="form-group">
                    <label for="username">Почта</label>
                    <input type="text" name="username" id="username" placeholder="You login" class="form-control form-control-lg">
                </div>

                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control form-control-lg" placeholder="Password" name="password" id="password">
                </div>
                <input type="submit" value="Login" class="btn btn-primary btn-block">
                <br>

            </form>
            <br>

        </div>

    </div>
</div>

</body>
</html>